<nav>
  <div class="logo">
    <h1 style="color:white;" title="Shoko Hosokowa">翔子 細川</h1>
  </div>
  <div class="mini-logo">
    <h1 style="color:white;" title="Shoko Hosokowa">翔子 細川</h1>
  </div>
  <ul>
    <li>
      <a href="/" rel="noopener nofollow noindex" title="ホーム / Home / Accueil">
        <i class="fa fa-home"></i> <em>ホーム / Home / Accueil</em>
      </a>
    </li>
    <li>
      <a href="/about" rel="noopener nofollow noindex" title="について / About / À propos">
        <i class="fa fa-user"></i> <em>について / About / À propos</em>
      </a>
    </li>
    <li>
      <a href="/photos" rel="noopener nofollow noindex" title="写真撮影 / Photography / Photographie">
        <i class="fa fa-image"></i> <em>写真撮影 / Photography / Photo.</em>
      </a>
    </li>
    <li>
      <a href="/contact" rel="noopener nofollow noindex" title="コンタクト / Contact / Contact">
        <i class="fa fa-envelope"></i> <em>コンタクト / Contact / Contact</em>
      </a>
    </li>
    <li style="visibility: hidden;"><a href="#"><em></em></a></li><li style="visibility: hidden;"><a href="#"><em></em></a></li>
  </ul>
</nav>