<!DOCTYPE HTML>
<!--
	Code by shoko-h.pages.kayliah.net | HRP: Kayliah | RP: 翔子 細川 (Shoko Hosokowa)
--> 
    <!-- @layouts -->
<html prefix="og: https://ogp.me/ns#" lang="fr-FR">
	<head>
	<!-- @meta-seo -->
		<meta charset="utf-8" />
		<meta name="robots" content="noindex, nofollow">
		<title>{{ page.title }}翔子 細川 (Shoko Hosokowa)</title>
{% include meta-seo.html %}
		<link rel="apple-touch-icon" sizes="180x180" href="https://gh.kayliah.net/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://gh.kayliah.net/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://gh.kayliah.net/favicon/favicon-16x16.png">
        <link rel="mask-icon" href="https://gh.kayliah.net/favicon/safari-pinned-tab.svg" color="#fd79a8">
        <meta name="msapplication-TileColor" content="#2d3436">
        <meta name="theme-color" content="#2d3436">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- @css-js -->
		<link rel="stylesheet" href="assets/css/kayliah.shoko.css">
		<link rel="stylesheet" href="assets/css/fontAwesome.css">
		<link rel="stylesheet" href="assets/css/shoko/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/shoko/bootstrap-theme.min.css">
        <link rel="stylesheet" href="assets/css/fontAwesome.css">
        <link rel="stylesheet" href="assets/css/shoko/light-box.css">
        <link rel="stylesheet" href="assets/css/shoko/templatemo-main.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
<body>
	<div class="sequence">
      	<div class="seq-preloader" style="background-color: #181818 !important;">
        	<div class="seq-preload-indicator" style="text-align: center !important;">
            	<img draggable="false" src="assets/img/Infinity-1s-200px.gif" alt="loader">
        	</div>
      	</div>
    </div>
	<!-- @navbar -->
{% include navbar.html %}
	<!-- @made-in-kayliah -->
	<div class="kay-MadeInKayliah">
        2022 © 翔子 細川 (Shoko Hosokowa) 
        <!-- Tout droits reviennents a leur propriétaires respectifs. -->
    </div>
    <!-- @content -->
{{ content }}
	<!-- @js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/kayliah.shoko.js"></script>
</body>
</html>
